# Environments
.env
.venv/
env/
venv/
ENV/

# Dependencies
node_modules/
backend/__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json
